#titulo {
    font-family: 'Concert One', 'Fredoka One', sans-serif;
    font-size: 6vw;
    text-align: center;

    background-color: #a7dbe8;
    border: 0;
    width: 100%;
}

main li {
    margin: 0 4vh;
}

th {
    width: 12vw;

    border: 0.1vw solid black;

    font-size: 5vw;
    text-align: center;
}
.data_selecionada {
    background-color: #FFE2B8;
}

#tipos_anotacoes {
    width: min-content;

    margin: 3vh auto;
    border: 0.5vw solid black;
    border-radius: 3vw;

    background-color: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}
#tipos_anotacoes a {
    border-right: 0.1vw solid black;
}

#titulo_data {
    width: 100%;

    padding: 2vw 0 1.5vw;
    border-top: 0.1vw solid black;

    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    color: #FFA44F;
}

#anotacoes {
    border: 0.5vw solid black;
    border-radius: 3vw;
}
#anotacoes a {
    border-bottom: 0.1vw solid black;
}
#anotacoes h2 {
    width: 100%;
    height: 2rem;

    padding: 0 1.5vw;
    border-right: 0.5vw solid black;
    border-left: 0.5vw solid black;
    margin: 1.5vw 0;

    display: flex;
    align-items: center;
    
    font-size: 4vw;
}

#tipos_anotacoes img, #anotacoes img {
    width: 10vw;
    height: 10vw;

    margin: 1.5vw 1.5vw;
}
#anotacoes a:last-child, #tipos_anotacoes a:last-child {
    border: 0;
}
.dados {
    display: none;
}

/* Estilos esclusivos do tela anotação em texto */
#texto {
    height: 100%;
    background-color: #E3FFFF;
    border: 0;

    font-family: 'Ubuntu', 'Noto Sans Georgian', sans-serif;
    font-size: 5vw;
}
#anotacao {
    height: 90vh;
    overflow: visible;
}

/* Estilos esclusivos do tela classificar anotação */
#classificar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#classificar .classificar {
    width: 25vw;
    min-width: min-content;

    margin: 0 2vh;
    padding: 2.5vw 5vw;
    border: 0.5vw solid black;
    border-radius: 3vw;
    
    background-color: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);

    text-align: center;
}
#classificar ul {
    background-color: #a7dbe8;
    
    padding: 2vh 0;
    border: 0.5vw solid black;
    border-radius: 5vw;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}