main li {
    margin: 0 4vh;
}

th {
    width: 12vw;

    border: 0.1vw solid black;

    text-align: center;
}
.data_selecionada {
    background-color: #FFE2B8;
}

#tipos_anotacoes {
    width: min-content;

    margin: 3vh auto;
    border: 0.5vw solid black;
    border-radius: 3vw;

    background-color: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}
#tipos_anotacoes a {
    border-right: 0.1vw solid black;
}

#titulo_data {
    width: 100%;

    padding: 2vw 0 1.5vw;
    border-top: 0.1vw solid black;

    font-size: 5vw;
    text-align: center;
}

#anotacoes {
    border: 0.5vw solid black;
    border-radius: 3vw;
}
#anotacoes a {
    border-bottom: 0.1vw solid black;
}
#anotacoes h2 {
    width: 100%;
    height: 2rem;

    padding: 0 1.5vw;
    border-right: 0.5vw solid black;
    border-left: 0.5vw solid black;
    margin: 1.5vw 0;

    display: flex;
    align-items: center;
}

#tipos_anotacoes img, #anotacoes img {
    width: 10vw;
    height: 10vw;

    margin: 1.5vw 1.5vw;
}
#tipos_anotacoes .ultimo, #anotacoes .ultimo {
    border: 0;
}

/* Estilos esclusivos do tela anotação em texto */
#texto {
    padding: 4vw 0;
}
#texto * {
    height: min-content;

    padding: 0 4vw;

    text-align: justify;
}
#texto img {
    width: 20vw;
    height: 20vw;
}

#salvar {
    position: fixed;
    top: 75vh;
    right: 5vw;

    width: min-content;    

    border: 0.5vw solid black;
    border-radius: 6vw;
    padding: 0;

    background-color: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}
#salvar img {
    width: 12vw;
    height: 12vw;
    
    padding: 1vw;
}

/* Estilos esclusivos do tela classificar anotação */
.classificar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
    background-color: #A7DBE8;
}
.classificar a {
    padding: 2.5vw 5vw;
    border: 0.5vw solid black;
    border-radius: 3vw;
    
    background-color: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}
