
main ul{
    display: flex;
    flex-direction: column;
    margin: 5vw 0;
}    
main li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 80%;
    height: min-content;

    margin: 2vw;
}

main li img {
    width: 15vw;
    margin-right: 0.5vw;
}

.balao_antes{
    position: relative;

    width: max-content;

    text-align: left;
    font-size: 4.5vw;

    border-radius: 1vw;
    padding: 1vw;

    background: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}

.balao_antes:before {
    content: "";

    position: absolute;
    left: -1vw;
    bottom: 5vw;

    width: 0vw;
    height: 0vw;

    border-top: 1.6vw solid #FFE2B8;
    border-bottom: 0.8vw solid transparent;
    border-right: 0.8vw solid #ffe2b8;
    border-left: 1.3vw solid transparent;
}

.balao_depois{
    position: relative;
    
    width: max-content;
    min-height: max-content;
    
    margin-left: 3.5rem;
    border-radius: 1vw;
    padding: 1vw;
    
    text-align: left;
    
    background: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}

.finalizar {
    position: fixed;
    bottom: 30vw;
    left: 35vw;

    width: 30vw;

    border: 0.5vw solid black;
    border-radius: 1vw;

    text-align: center;
    font-size: 5.5vw;

    background: #FFE2B8;
    box-shadow: 1.5vw 1.5vw 0.5rem 1vw rgb(29, 36, 41, 0.2);
}