/* Estilos gerais das tag's */

main img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10vw;
}

main h2 {
    width: 100%;
    height: 2rem;

    padding: auto 0; 

    display: flex;
    align-items: center;
}

main a {
    width: 100%;
}

/* Classes de organização */
.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

/* Botôes em coluna */

main ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main li{
    width: 50%;
    border: solid black 1px;
    border-radius: 4vw;
    margin: 3vw;
    height: 15vw;
    display: flex;
    justify-content: start;
    align-items: left;   
}
