header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11rem;
    border-bottom: .1rem solid black;
}
header img{
    width: 5rem;
    height: 5rem;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
}
footer nav {
    justify-content: flex-end;
    display: flex;
    border-top: .1rem solid black;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;   
}
footer img {   
    width: 9rem;
    height: 9rem;
}

 