header {
    position: relative;
    top: 0;

    height: min-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1.5vw 0;
    border-bottom: 0.1vw solid black;
}
header h1 {
    font-size: 5vw;
}

header img{
    width: 10vw;
    height: 10vw;
}

.botao_header {
    display: flex;
    align-items: center;
}
.botao_header img {
    width: 5vw;
    height: 5vw;

    padding: 0 1vw;
}

footer{
    position: fixed;
    bottom: 0;
    
    width: 100%;
    background-color: white;
}
footer nav {
    padding: 1.5vw 0;
    border-top: .1rem solid black;
}
footer img {   
    width: 20vw;
    height: 20vw;
}


 