header {
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1.5vw 0;
    border-bottom: 0.2vw solid black;

    background-color: #A7DBE8;
}
header h1 {
    font-size: 8vw;
    color: #1D2429;
    text-shadow: 0.5vw 0.5vw rgb(29, 36, 41, 0.2);
}

header img{
    width: 10vw;
    height: 10vw;
}

.botao_header {
    display: flex;
    align-items: center;
}
.botao_header img {
    width: 7.5vw;
    height: 7.5vw;

    padding: 0 1vw;
}

main {
    position: relative;
    top: 14vw;
    overflow: hidden scroll;

    height: calc(100% - 45vw);
    width: 100%;

    background-color: #E3FFFF;
}

footer{
    position: fixed;
    bottom: 0;
    
    width: 100%;

    border-top: 0.2vw solid black;
    background-color: #A7DBE8;
    z-index: 2;
}
footer nav {
    padding: 1.5vw 0;
}
footer img {   
    width: 15vw;
    height: 15vw;
}


 