
main ul{
    display: flex;
    flex-direction: column;
    margin: 5vw 0;
}    
main li{
    width: 45%;
    margin: 5vw;
    height: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

li img {
    width: 3rem;
    margin-right: 0.5rem;
}

.balao_antes{
    position: relative;
    font-size: 4vw;
    line-height: 3vw;
    width: relative;
    background: rgb(233,242,253);
    border-radius: 1vw;
    text-align: left;
    color: black;
    justify-content: space-around;
    padding: 1vw;
    z-index: -1;
}

.balao_antes:before {
    content: "";
    width: 0vw;
    height: 0vw;
    position: absolute;
    border-top: 1.6vw solid rgb(233,242,253);
    border-bottom: 0.8vw solid transparent;
    border-right: 0.8vw solid rgb(233,242,253);
    border-left: 1.3vw solid transparent;
    left: -1vw;
    bottom: 5.6vw;
    z-index: -1;
}

.balao_depois{
    margin-left: 3.5rem;
    position: relative;
    font-size: 4vw;
    line-height: 3vw;
    width: relative;
    background: rgb(233,242,253);
    border-radius: 1vw;
    text-align: left;
    color: black;
    justify-content: space-around;
    padding: 1vw;
}