@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
h1{font-family: 'Wendy One', 'Fredoka One';}
body{font-family: 'Signika Negative', 'Josefin Sans', sans-serif;}


/* Classes de organização */
.coluna {
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
}

.centralizada {
    justify-content: center;
    align-items: center;
}
.alinhada {
    justify-content: space-between;
    align-items: center;
}
.espacada {
    justify-content: space-around;
    align-items: center;
}

/* Estilo padrão das Tag's */
header {
    width: 100%;
}
main {
    height: 100%;
}

/* Classes de estilo */
.botao_grande {
    width: 40vw;
    height: 40vw;
    
    justify-content: space-around;
    align-items: center;

    margin: 2.5vw;
    border: 0.5vw solid black;
    border-radius: 5vw;
    
    font-size: 5vw;
    text-align: center;
}
.botao_grande img {
    width: 25vw;
    height: 25vw;
}

.botao_emocao{
    width: 15vw;
    height: 15vw;

    border: 0;
    background-color: transparent;
}
.botao_emocao img {
    width: 100%;
}



